
# Dependencies and packages
/docs/vendor/
/node_modules/
/vendor/
npm-debug.log
package-lock.json
yarn-error.log

# Build and compiled files
*.cache
*.jar
*.lock
*.phar
.php-cs-fixer.cache
.phpunit.result.cache
/build
/build/
build/

# Log files
*.log
error_log

# Laravel specific
.env
app/storage/
bootstrap/compiled.php
public/hot
public/storage
public_html/hot
public_html/storage

# Local configurations
/.vagrant
Homestead.json
Homestead.yaml

# IDE specific
.phpintel
/.idea

# Git specific
.git-blame-ignore-revs
.git-rewrite
.git-rewrite/

# Temporary and system files
*.exe
*.stackdump
*.swo
*.swp
*.tmp
*:Zone.Identifier
.DS_Store

# Backup files
*.backup
*.bak
*.new
*.old
*.old1
*.old2

# Documentation and cache
cache/
docs/cache/
docs/phpstan/

# Other
storage/*.key
